/Assesment1/nbproject/private/
/Assesment1/build/
/Penggajian/nbproject/private/
/Penggajian/build/
/Assesent1/nbproject/private/
/Assesent1/build/
/Chara/nbproject/private/
/Assessment1/nbproject/private/
/Assessment1/build/
/Assessment1 2/build/
/Assessment1 2/nbproject/private/
